---
---

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- uncomment to debugging CSS:
    <style is:global>
      * {
        outline: 1px solid tomato;
      }
    </style>
    -->
  </head>
  <body>
    <slot /> <!-- your content is injected here -->
  </body>
</html>